.booking-card {
  max-width: 900px;
  margin: 20px auto;
}

.booking-form .form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

mat-card-title {
  margin-left: 1rem;
}
